<section id="projects" class="home-section site-content index list container">
  <h2 class="home-section__title">Articles</h2>
  <div>
    {{ range $.Site.Data.home.articles }}
    <article class="article article--links">
      <header>
        <h1 class="article__title"><a href="{{ .link }}" target="_blank">{{ .title }}</a></h1>
      </header>
    </article>
    {{ end }}
  </div>
  <a href="https://12bit.vn" target="_blank" title="Read my articles on 12bit.vn">read more &rarr;</a>
</section>
