<section id="intro" class="section-intro">
  <div class="section-intro__content">
    <h2 class="section-intro__content-title">Hey 🙌<br>Just another developer<br>based in HCM city, Vietnam</h2>
    <p class="section-intro__content-desc">Mostly working with WordPress and front-end stuff. Particularly interested in open source, startup, and design.</p>
    <div class="section-intro__content-cta">
      <a href="#" class="button button--bold">Get in touch</a>
    </div>
  </div>
  <div class="section-intro__figure"></div>
</section>
