.section-intro {
  width: 850px;
  margin: 0 auto 4em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
  @include breakpoint(tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }
  &__content-desc {
    margin-bottom: 1em;
  }
}
