.section-intro {
  max-width: $content-width;
  margin: 0 auto 4em;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  @include breakpoint(tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }
  &__figure {
    display: none;
    @include breakpoint(tablet) {
      display: block
    }
  }
  &__content-title {
    color: $color-primary;
  }
  &__content-desc {
    margin-bottom: 3rem;
  }
  &__content-cta .button {
    display: inline-block;
  }
}
